@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap');
@import 'maplibre-gl/dist/maplibre-gl.css';

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #F8FAFC;
}

::-webkit-scrollbar-thumb {
  background: #E8ECF1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4B647D;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F8FAFC;
  color: #2B2B2B;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}
